* {
    margin: 0;
}

body {
    background-color: #e5fa61;
background-image: linear-gradient(90deg, #01285a 0%, #399ef0 100%);
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    color: azure;
    text-decoration: none;
}

#banner {
    width: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
}


div {
    color: white;
    font-size: 25px;
    text-align: center;
}